{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="flex flex-col justify-center items-center w-full h-[20vh]"></div>
  {% endif %}
  {% if not user.is_authenticated %}
    <div class="w-full h-screen flex flex-col justify-center items-center">
      <div class="flex flex-col justify-around items-center p-8 shadow rounded h-[40vh] bg-[#640014] text-white">
        <div>
          <img src="{% static 'images/TV2Fyn_White_Rgb.png' %}" alt="TTEX logo" class="w-[100px] mx-auto" />
          <h1 class="text-4xl font-bold m-8">Velkommen til TTEX</h1>
          <p>TV 2 Fyns værktøj til transskribering.</p>
        </div>
        <a href="/microsoft/to-auth-redirect/?next=/upload/"><div class="rounded bg-brand text-white p-2 max-w-xs hover:bg-[#EB8C82] duration-500 hover:cursor-pointer w-[20vw] shadow">Log ind</div></a>
      </div>
    </div>
  {% endif %}
{% endblock %}
