a:hover {
    color: #999 ;

}

p {
    font-size: 16px;
}

#id_title {
    font-size: 48px;
    padding: 5px;
    margin-bottom: 20px;
}
#id_text {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word; 
    }
