sudo systemctl start redis
[Unit]
Description=Celery Worker
After=network.target

[Service]
User=deployer
Group=www-data
EnvironmentFile=/home/administrator/ttex_django/.env
WorkingDirectory=/home/administrator/ttex_django/ttex
ExecStart=/home/administrator/ttex_django/.venv/bin/celery -A ttex worker -l INFO --concurrency 2
Restart=always

[Install]
WantedBy=multi-user.target